QToolTip {
  border: 1px solid black;
  background-color: #ffa02f;
  padding: 1px;
  border-radius: 3px;
  opacity: 100;
}

QWidget {
  color: #b1b1b1;
  background-color: #323232;
}

QTreeView,
QListView {
  background-color: silver;
  margin-left: 5px;
}

QAbstractItemView {
  background-color: #323232;
}

QMenuBar {
  border-bottom: 1px solid;
  border-color: gray;
  color: #d3d3d3;
  font-weight: 500;
}

QMenuBar::item {
  background: transparent;
}

QMenuBar::item:selected {
  color: #d3d3d3;
}

QMenuBar::item:pressed {
  border: 0;
  margin-bottom: -1px;
  padding-bottom: 1px;
}

QMenu {
  border: 1px solid #000;
  color: #d3d3d3;
}

QMenu::item:selected {
  color: #d3d3d3;
}

QWidget:disabled {
  color: #808080;
  background-color: #323232;
  border: 1px solid #242424;
}

QWidget:item:hover {
  color: #ffa02f;
}

QWidget:item:selected {
  color: #ffa02f;
}

QLabel {
  color: #ffa02f;
  font-weight: 500;
}

QLineEdit {
  background-color: #242424;
  color: #d3d3d3;
  border: 1px solid #242424;
  padding-left: 2px;
  outline: none;
}

QTextEdit {
  background-color: #242424;
  border: 1px solid #242424;
  padding-left: 3px;
}

QPushButton {
  color: #d3d3d3;
  background-color: #242424;
  border-width: 1px;
  border-color: #242424;
  border-style: solid;
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  outline: none;
}

QPushButton:hover {
  color: #ffa02f;
}

QPushButton:pressed {
  color: gray;
  outline: none;
}

QComboBox {
  background-color: #242424;
  color: #d3d3d3;
  border: 1px solid #242424;
  outline: none;
}

QComboBox:on {
  padding-top: 0px;
  padding-left: 3px;
}

QComboBox QAbstractItemView {
  background-color: #242424;
  border: 1px solid #ffa02f;
}

QComboBox::drop-down {
  width: 25px;
  background-color: #333333;
  border-top-right-radius: 3px; /* same radius as the QComboBox */
  border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
  image: url(Files/Assets/Icons/down_arrow.png);
}

QGroupBox {
  border: 1px solid darkgray;
  margin-top: 10px;
}

QGroupBox:focus {
  border: 1px solid #242424;
}

QTextEdit:focus {
  border: 1px solid #242424;
}

QScrollArea {
  border: 1px solid #242424;
}

QScrollBar:horizontal {
  width: 11px;
  border: 1px solid #222222;
}

QScrollBar::handle:horizontal {
  min-height: 20px;
  background-color: gray;
  border: 1px solid #222222;
}

QScrollBar::add-line:horizontal {
  height: 0px;
}

QScrollBar::sub-line:horizontal {
  height: 0px;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar:vertical {
  width: 11px;
  border: 1px solid #222222;
}

QScrollBar::handle:vertical {
  min-height: 20px;
  background-color: gray;
  border: 1px solid #222222;
}

QScrollBar::add-line:vertical {
  height: 0px;
}

QScrollBar::sub-line:vertical {
  height: 0px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none;
}

QPlainTextEdit {
  background-color: #242424;
}

QHeaderView::section {
  color: white;
  padding-left: 4px;
  border: 1px solid #6c6c6c;
}

QCheckBox:disabled {
  color: #414141;
}

QDockWidget::title {
  text-align: center;
}

QDockWidget::close-button,
QDockWidget::float-button {
  text-align: center;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
  background: #242424;
}

QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
  padding: 1px -1px -1px 1px;
}

QMainWindow::separator {
  color: white;
  padding-left: 4px;
  border: 1px solid #4c4c4c;
}

QMainWindow::separator:hover {
  color: white;
  padding-left: 4px;
}

QToolBar::handle {
  image: url(Files/Assets/Icons/handle.png);
}

QMenu::separator {
  height: 2px;
  color: white;
  padding-left: 4px;
  margin-left: 10px;
  margin-right: 5px;
}

QProgressBar {
  border: 2px solid grey;
  border-radius: 3px;
  text-align: center;
}

QProgressBar::chunk {
  background-color: #d7801a;
  width: 2.15px;
  margin: 0.5px;
}

QTabBar::tab {
  color: #b1b1b1;
  border: 1px solid #444;
  border-bottom-style: none;
  background-color: #323232;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-right: -1px;
}

QTabWidget::pane {
  border: 1px solid #444;
  top: 1px;
}

QTabBar::tab:last {
  margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
  border-top-right-radius: 3px;
}

QTabBar::tab:first {
  margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
  border-top-left-radius: 3px;
}

QTabBar::tab {
  color: #b1b1b1;
  border-bottom-style: solid;
  margin-top: 3px;
}

QTabBar::tab:selected {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 0px;
}

QTabBar::tab:hover {
  /*border-top: 2px solid #ffaa00;
      padding-bottom: 3px;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

QRadioButton::indicator:checked,
QRadioButton::indicator:unchecked {
  color: #b1b1b1;
  background-color: #323232;
  border: 1px solid #b1b1b1;
  border-radius: 6px;
}

QCheckBox::indicator {
  color: #b1b1b1;
  background-color: #323232;
  border: 1px solid #b1b1b1;
  width: 9px;
  height: 9px;
}

QRadioButton::indicator {
  border-radius: 6px;
}

QRadioButton::indicator:hover,
QCheckBox::indicator:hover {
  border: 1px solid #ffaa00;
}

QCheckBox::indicator:checked {
  image: url(Files/Assets/Icons/checkbox.png);
}

QCheckBox::indicator:disabled,
QRadioButton::indicator:disabled {
  border: 1px solid #444;
}

QSlider::groove:horizontal {
  border: 1px solid #3a3939;
  height: 8px;
  background: #201f1f;
  margin: 2px 0;
  border-radius: 2px;
}

QSlider::groove:vertical {
  border: 1px solid #3a3939;
  width: 8px;
  background: #201f1f;
  margin: 0 0px;
  border-radius: 2px;
}

QAbstractSpinBox {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid darkgray;
  border-radius: 2px;
  min-width: 50px;
}